@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: auto;
  position: relative;
  margin-left: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
